.root {
  height: 100vh;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  margin: 0 auto;
  justify-content: center;
}

.main {
  background: #121212;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 450px;
  height: 100%;
  position: relative;
}

.InsightsPage {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.loading-page {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error-page {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    padding: 24px;
}

.page-indicator-container {
  position: absolute;
  width: 100%;
  height: 10px;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 4px;
  box-sizing: border-box;
}

.control {
  display: none;
}

@media only screen and (min-width: 450px) {
  .root {
    padding: 32px 16px;
  }
  .main {
    border-radius: 6px;
    max-height: 800px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  .control {
    padding: 8px;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
  }
  .instruction-snackbar {
      display: none !important;
  }
}
