.Slide {
    flex: 1;
    position: relative;
    display: flex;
}

.Slide > .content {
    margin-top: 36px;
    padding: 24px;
    z-index: 1;
    justify-content: start;
}

.top-subtitle, .main-text {
    font-weight: 600;
}

.body-text {
    margin-top: 32px;
    line-height: 150%;
}

.list-items {
    margin-top: 4px;
}

.list-item {
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 8px;
}