@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  background: #202020;
  color: #e5e5e5;
  font-family: 'Montserrat', sans-serif;
}

b {
  font-weight: 700;
}

.text-yellow {
  color: #FFA700;
}